.box {
    width: 280px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius:20px;
    transform: translate(-50%,-80%);
    background: #191919;
    text-align: center;
    color: #7c37ad ;
    font-size: large;
  }
 
 
   
