h1{
    color: #9746c0;
    
}
p{
    
    color: #9746c0;
    font-size: large;
    padding: 12px;
    margin: 5px;
    justify-self: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
