.About{ 
    margin: 2px;
    height: 100vmax;
    border: 3px solid black;
    color: #9746c0;
    font-size: large;
    padding: 12px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1{
    display: flex;
    justify-content: center;
}